.Box1 {
  width: 90%;
  margin: auto;
  display: grid;
  grid-gap: 20px;
}
.Main{
  margin-top: -40px;
}
.Box2 {
  padding: 30px;
  display: flex;
  border: 1px solid;
  border-radius: 10px;
  gap: 30px;
}

.title {
  margin: 0;
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.Image {
  width: 500px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
}
