.Box1 {
  width: 90%;
  margin: auto;
  display: grid;
  grid-gap: 20px;
}

.Box2 {
  padding: 30px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
  gap: 30px;
}

.title {
  margin: 0;
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.Image {
  width: 500px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
}
